<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hello world!</h1>

    <app-container>
      <app-rooms></app-rooms>
      <app-employee></app-employee>
      <!--This gets loaded into ng-content tag inside container component.
      This is helpful when you want to insert dynamic content inside a component.-->
      <h1>This is loaded from ng-content</h1>
    </app-container>

    <div #name></div>
    <!-- directives -->
    <!-- <div [ngSwitch]="role">
      <div *ngSwitchCase="'User'">Welcome User!</div>
      <div *ngSwitchCase="'Admin'">
        <app-rooms></app-rooms>
      </div>
      <div *ngSwitchDefault>You are not authorized to view this page!</div>
    </div> -->

    <!-- Dynamic component rendering -->
    <!-- <div>
      <ng-template #user></ng-template>
    </div> -->
  </body>
</html>
