<!-- {{ bookingForm.pristine | json }}
{{ bookingForm.valid | json }}
{{ bookingForm.value | json }} 
{{ bookingForm.errors | json }} -->
<div>
  <button
    mat-raised-button
    color="primary"
    type="button"
    (click)="addPassport()"
  >
    Add Passport
  </button>
  <button
    mat-raised-button
    color="primary"
    type="button"
    (click)="removePassport()"
  >
    Remove Passport
  </button>
</div>

<form class="example-form" [formGroup]="bookingForm" (ngSubmit)="addBooking()">
  <!-- Dynamic form field handling for passport field -->
  <mat-form-field
    class="example-full-width"
    *ngIf="bookingForm.get('passport')"
  >
    <input matInput placeholder="Passport Number" formControlName="passport" />
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Room ID</mat-label>
    <input matInput placeholder="Room ID" formControlName="roomId" />
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Name</mat-label>

    <input
      matInput
      placeholder="Name"
      formControlName="guestName"
      #nameFormControl
    />
    <!-- {{ bookingForm.get("guestName")?.errors | json }} -->
    <mat-error *ngIf="bookingForm.get('guestName')?.hasError('minlength')">
      Guest name must be 5 chars
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>

    <input
      type="email"
      matInput
      placeholder="Email"
      formControlName="guestEmail"
    />
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Mobile Number</mat-label>

    <input
      matInput
      placeholder="Mobile Number"
      formControlName="mobileNumber"
    />
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Booking Amount</mat-label>

    <input
      matInput
      placeholder="Booking Amount"
      formControlName="bookingAmount"
      type="number"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Checkin Date</mat-label>

    <input
      matInput
      [matDatepicker]="checkinDate"
      placeholder="Checkin Date"
      formControlName="checkinDate"
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="checkinDate"
    ></mat-datepicker-toggle>
    <mat-datepicker #checkinDate></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Checkout Date</mat-label>

    <input
      matInput
      [matDatepicker]="checkoutDate"
      placeholder="Checkout Date"
      formControlName="checkoutDate"
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="checkoutDate"
    ></mat-datepicker-toggle>
    <mat-datepicker #checkoutDate></mat-datepicker>
    <mat-error *ngIf="bookingForm.get('checkoutDate')?.hasError('invalidDate')">
      Checkout Date must be greater that Checkin Date
    </mat-error>

    <!-- {{ bookingForm.get("checkoutDate")?.errors | json }} -->
  </mat-form-field>
  <mat-form-field>
    <mat-label>Booking Date</mat-label>

    <input
      matInput
      [matDatepicker]="bookingDate"
      placeholder="Booking Date"
      formControlName="bookingDate"
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="bookingDate"
    ></mat-datepicker-toggle>
    <mat-datepicker #bookingDate></mat-datepicker>
  </mat-form-field>

  <div formGroupName="address">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Address </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-form-field class="example-full-width">
        <mat-label>Address Line 1</mat-label>

        <input
          matInput
          placeholder="Address Line 1"
          formControlName="addressLine1"
        />
        <mat-error
          *ngIf="bookingForm.get('address.addressLine1')?.hasError('required')"
        >
          Address Line 1 is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Address Line 2</mat-label>

        <input
          matInput
          placeholder="Address Line 2"
          formControlName="addressLine2"
        />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>City</mat-label>

        <input matInput placeholder="City" formControlName="city" />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>State</mat-label>

        <input matInput placeholder="State" formControlName="state" />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Country</mat-label>

        <input matInput placeholder="Country" formControlName="country" />
      </mat-form-field>
      <mat-label></mat-label>
      <mat-form-field class="example-full-width">
        <mat-label>Zipcode</mat-label>
        <input matInput placeholder="Zipcode" formControlName="zipCode" />
      </mat-form-field>
    </mat-expansion-panel>
  </div>
  <div>
    <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="addGuest()"
    >
      Add Guest
    </button>
  </div>
  <div formArrayName="guests">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Guests </mat-panel-title>
      </mat-expansion-panel-header>

      <div *ngFor="let guest of guests.controls; let i = index">
        <div [formGroupName]="i">
          <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>

            <input
              matInput
              placeholder="Guest Name"
              formControlName="guestName"
            />
            <mat-error
              *ngIf="
                bookingForm
                  .get(['guests', i, 'guestName'])
                  ?.hasError('required')
              "
            >
              Guest Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Age</mat-label>

            <input
              matInput
              placeholder="Guest Age"
              formControlName="age"
              type="number"
            />
          </mat-form-field>
        </div>

        <div>
          <button
            mat-raised-button
            color="primary"
            type="button"
            (click)="removeGuest(i)"
          >
            Remove Guest
          </button>
        </div>
      </div>
    </mat-expansion-panel>
  </div>
  <div><mat-checkbox formControlName="tnc">TnC</mat-checkbox></div>
  <div>
    <button
      [disabled]="bookingForm.invalid"
      mat-raised-button
      color="primary"
      type="submit"
    >
      Book Room
    </button>
  </div>
</form>
