<!-- interpolation binding -->
<h1>Welcome to {{ hotelName }}</h1>

<div [hidden]="toggleRooms">
  Number of rooms:
  <!-- property binding -->
  <!-- <div
    [ngStyle]="rooms.availableRooms > 0 ? { color: 'green' } : { color: 'red' }"
    [innerText]="numberOfRooms"
  ></div> -->
  <div
    [ngStyle]="{ color: rooms.availableRooms > 0 ? 'green' : 'red' }"
    [innerText]="numberOfRooms"
  ></div>
</div>

<!-- null-coalescing operator ??  -->
{{ rooms.availableRooms === 0 ? "No Rooms" : "" }}

<!-- pipe -->
<!-- {{ roomList | json }} -->

<!-- Directive -->
<div *ngIf="rooms.availableRooms > 0">
  <app-rooms-list [rooms]="roomList"></app-rooms-list>
</div>

<!-- event binding -->
<button (click)="toggle()">Toggle Rooms</button>
