<!-- interpolation binding -->
<!-- <h1>Welcome to {{ hotelName }}</h1> -->

<app-header></app-header>

<!-- {{ rooms$ | async | json }} -->

<div [hidden]="toggleRooms">
  Number of rooms:
  <!-- property binding -->
  <!-- <div
    [ngStyle]="rooms.availableRooms > 0 ? { color: 'green' } : { color: 'red' }"
    [innerText]="numberOfRooms"
  ></div> -->
  <div
    [ngStyle]="{ color: rooms.availableRooms > 0 ? 'green' : 'red' }"
    [innerText]="numberOfRooms"
  ></div>
</div>

<!-- null-coalescing operator ??  -->
{{ rooms.availableRooms === 0 ? "No Rooms" : "" }}

<!-- pipe -->
<!-- {{ roomList | json }} -->

<div *ngIf="selectedRoom">
  {{ selectedRoom | json }}
</div>

<div>
  <button class="btn btn-info" (click)="addRoom()">Add Room</button>
</div>

<h1>{{ getError$ | async }}</h1>
<h1>Number of rooms: {{ roomsCount$ | async }}</h1>

<!-- Directive -->
<div *ngIf="rooms$ | async as rooms">
  <app-rooms-list
    [rooms]="rooms"
    [title]="title"
    (selectedRoom)="selectRoom($event)"
  ></app-rooms-list>
</div>

<!-- event binding -->
<button (click)="toggle()">Toggle Rooms</button>
<button (click)="editRoom()">Edit Rooms</button>
<button (click)="deleteRoom()">Delete Rooms</button>

<h1>{{ totalBytes }} Loaded</h1>
