<!-- interpolation binding -->
<h1>Welcome to {{ hotelName }}</h1>

<div [hidden]="toggleRooms">
  Number of rooms:
  <!-- property binding -->
  <!-- <div
    [ngStyle]="rooms.availableRooms > 0 ? { color: 'green' } : { color: 'red' }"
    [innerText]="numberOfRooms"
  ></div> -->
  <div
    [ngStyle]="{ color: rooms.availableRooms > 0 ? 'green' : 'red' }"
    [innerText]="numberOfRooms"
  ></div>
</div>

<!-- null-coalescing operator ??  -->
{{ rooms.availableRooms === 0 ? "No Rooms" : "" }}

<!-- pipe -->
<!-- {{ roomList | json }} -->

<div *ngIf="selectedRoom">
  {{ selectedRoom | json }}
</div>

<div>
  <button class="btn btn-info" (click)="addRoom()">Add Room</button>
</div>

<!-- Directive -->
<div *ngIf="rooms.availableRooms > 0">
  <app-rooms-list
    [rooms]="roomList"
    [title]="title"
    (selectedRoom)="selectRoom($event)"
  ></app-rooms-list>
</div>

<!-- event binding -->
<button (click)="toggle()">Toggle Rooms</button>
